.headerbar {
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: var(--color2) ;
    color: var(--color7);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    padding: 0.5rem
}
.headerbar img {
    height: 4rem;
    width: 4rem;
}
.headerbar h1{
    width: 100%;
    text-align: center;
    align-content: center;
}