.mainNav {
    box-sizing: border-box;
    position: fixed;
    width: 10rem;
    background-color: var(--color4);
    height: 100%;
    color: var(--color7);
    padding: 0.5rem;
}

.mainNav .navoption {
    height: 3rem;
    text-align: center;
    align-content: center;
}
.mainNav .navoption a{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--color7);
}
.mainNav .navoption a i{
    margin-right: 0.25rem;
}
.mainNav .navoption a:hover{
    background-color: var(--color7);
}