/* styles.css */

body {
    display: flex;
    box-sizing:border-box;
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #deecf8;
    color: #333;
}

header {
    width: 100%;
    height: 5rem;
    background-color:white;
    color: black;
    text-align: center;
}
a {
    text-decoration: none;
    color: #000;
}

nav {
    position: fixed;
    height: 100dvh;
    width: 15dvw;
    display: flex;
    flex-direction: column;
    background-color: #005fa3;
    color: white;
}
nav img {
    width: 50%;
}
nav .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 1000;
    width: 100%;
    height: 12rem;
}
nav .menu {
    display: flex;
    flex-direction: column;
    align-items: end;
}
nav .menu a {
    height: 3rem;
    width: 15dvw;
    padding-right: 1rem;
    text-align: right;
    align-content: center;
    border-radius: 0.5rem;
    color: white;
    font-weight: 1000;
    font-size: 1.3rem;
}
nav .menu a:hover{
    background-color: white;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    width: 100%;
    text-align: left;
    justify-items: center;
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: #005fa3;
}

.game-container {
    display: flex;
    gap: 1rem;
}
.game-container a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15dvw;
    height: 7rem;
    align-items: center;
    border-radius: 0.5rem;
    background-color: White;
}
.game-container a:hover{
    background-color: #005fa3;
    color: white;
}

iframe {
    width: 30%;
    height: 300px;
    border: 1px solid #ccc;
}
.content {
    display: flex;
    flex-direction: column;
    margin-left: 15dvw;
    width: 85dvw;
    box-sizing: border-box;
    border: red solid 2px;
}

footer {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 1rem;
}
