.mainContent {
    box-sizing: border-box;
    padding-top: 5rem;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--color06);
}
.content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-left: var(--navbar-width);
}
.content .topheader {
    align-content: center;
    padding: 1rem;
    margin: 0;
    border-radius: 0.25rem;
    box-sizing: border-box;
    text-align: center;
}

pre {
    background-color: var(--color05);
}


